
src/Codeizi.CQRS.Saga.FunctionalTest/bin/*
src/Codeizi.CQRS.Saga.FunctionalTest/obj/*
src/Codeizi.CQRS.Saga.Test/bin/*
src/Codeizi.CQRS.Saga.Test/obj/*
src/Codeizi.CQRS.Saga/bin/*
src/Codeizi.CQRS.Saga/obj/*
